<!--Navbar Start-->
<header>
  <!--Navigation-->
  <nav class="navbar navbar-top-default navbar-expand-lg navbar-simple nav-line">
    <div class="container">
      <a href="#home" title="Logo" class="logo scroll">
        <!--Logo Default-->
        <img src="/assets/resume/img/logo.png" alt="logo" class="logo-dark">
      </a>
      <a (click)="logout()"
         *ngIf="isAdmin"
         style="cursor: pointer;">
        <h4>Logout</h4>
      </a>
    </div>
  </nav>
</header>
<!--Navbar End-->
