<!-- Gallery portfolio -->
<section id="gallery" class="portfolio-5">
  <div class="container">
    <!-- gallery -->
    <div class="row gallery-5" id="gallery-5">
      <!-- gallery item -->
      <div class="col-md-4 items webdesign marketing">
        <div class="item-img">
          <img alt="image" src="/assets/creative-parallax/img/project-item-01.jpg">
          <!--Item Overlay-->
          <div class="item-overlay">
            <div class="overlay-content">
              <h5>Aqua Branding</h5>
              <p class="mb-0 color-white">Best Web Services in Town</p>
              <a class="mr-2" data-fancybox="images-5" href="/assets/creative-parallax/img/project-item-01.jpg">
                <i class="fas fa-search-plus"></i>
              </a>
              <a href="javascript:void(0);">
                <i class="fas fa-share"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- gallery item -->
      <div class="col-md-4 items graphicdesign">
        <div class="item-img">
          <img alt="image" src="/assets/creative-parallax/img/project-item-02.jpg">
          <!--Item Overlay-->
          <div class="item-overlay">
            <div class="overlay-content">
              <h5>Aqua Branding</h5>
              <p class="mb-0 color-white">Best Web Services in Town</p>
              <a class="mr-2" data-fancybox="images-5" href="/assets/creative-parallax/img/project-item-02.jpg">
                <i class="fas fa-search-plus"></i>
              </a>
              <a href="javascript:void(0);">
                <i class="fas fa-share"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- gallery item -->
      <div class="col-md-4 items webdesign marketing">
        <div class="item-img">
          <img alt="image" src="/assets/creative-parallax/img/project-item-03.jpg">
          <!--Item Overlay-->
          <div class="item-overlay">
            <div class="overlay-content">
              <h5>Aqua Branding</h5>
              <p class="mb-0 color-white">Best Web Services in Town</p>
              <a class="mr-2" data-fancybox="images-5" href="/assets/creative-parallax/img/project-item-03.jpg">
                <i class="fas fa-search-plus"></i>
              </a>
              <a href="javascript:void(0);">
                <i class="fas fa-share"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- gallery item -->
      <div class="col-md-4 items graphicdesign">
        <div class="item-img">
          <img alt="image" src="/assets/creative-parallax/img/project-item-04.jpg">
          <!--Item Overlay-->
          <div class="item-overlay">
            <div class="overlay-content">
              <h5>Aqua Branding</h5>
              <p class="mb-0 color-white">Best Web Services in Town</p>
              <a class="mr-2" data-fancybox="images-5" href="/assets/creative-parallax/img/project-item-04.jpg">
                <i class="fas fa-search-plus"></i>
              </a>
              <a href="javascript:void(0);">
                <i class="fas fa-share"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- gallery item -->
      <div class="col-md-4 items seo marketing">
        <div class="item-img">
          <img alt="image" src="/assets/creative-parallax/img/project-item-05.jpg">
          <!--Item Overlay-->
          <div class="item-overlay">
            <div class="overlay-content">
              <h5>Aqua Branding</h5>
              <p class="mb-0 color-white">Best Web Services in Town</p>
              <a class="mr-2" data-fancybox="images-5" href="/assets/creative-parallax/img/project-item-05.jpg">
                <i class="fas fa-search-plus"></i>
              </a>
              <a href="javascript:void(0);">
                <i class="fas fa-share"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- gallery item -->
      <div class="col-md-4 items webdesign marketing">
        <div class="item-img">
          <img alt="image" src="/assets/creative-parallax/img/project-item-06.jpg">
          <!--Item Overlay-->
          <div class="item-overlay">
            <div class="overlay-content">
              <h5>Aqua Branding</h5>
              <p class="mb-0 color-white">Best Web Services in Town</p>
              <a class="mr-2" data-fancybox="images-5" href="/assets/creative-parallax/img/project-item-06.jpg">
                <i class="fas fa-search-plus"></i>
              </a>
              <a href="javascript:void(0);">
                <i class="fas fa-share"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- gallery item -->
      <div class="col-md-4 items seo marketing">
        <div class="item-img">
          <img alt="image" src="/assets/creative-parallax/img/project-item-07.jpg">
          <!--Item Overlay-->
          <div class="item-overlay">
            <div class="overlay-content">
              <h5>Aqua Branding</h5>
              <p class="mb-0 color-white">Best Web Services in Town</p>
              <a class="mr-2" data-fancybox="images-5" href="/assets/creative-parallax/img/project-item-07.jpg">
                <i class="fas fa-search-plus"></i>
              </a>
              <a href="javascript:void(0);">
                <i class="fas fa-share"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- gallery item -->
      <div class="col-md-4 items webdesign marketing">
        <div class="item-img">
          <img alt="image" src="/assets/creative-parallax/img/project-item-08.jpg">
          <!--Item Overlay-->
          <div class="item-overlay">
            <div class="overlay-content">
              <h5>Aqua Branding</h5>
              <p class="mb-0 color-white">Best Web Services in Town</p>
              <a class="mr-2" data-fancybox="images-5" href="/assets/creative-parallax/img/project-item-08.jpg">
                <i class="fas fa-search-plus"></i>
              </a>
              <a href="javascript:void(0);">
                <i class="fas fa-share"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- gallery item -->
      <div class="col-md-4 items seo graphicdesign">
        <div class="item-img">
          <img alt="image" src="/assets/creative-parallax/img/project-item-09.jpg">
          <!--Item Overlay-->
          <div class="item-overlay">
            <div class="overlay-content">
              <h5>Aqua Branding</h5>
              <p class="mb-0 color-white">Best Web Services in Town</p>
              <a class="mr-2" data-fancybox="images-5" href="/assets/creative-parallax/img/project-item-09.jpg">
                <i class="fas fa-search-plus"></i>
              </a>
              <a href="javascript:void(0);">
                <i class="fas fa-share"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Ends Gallery portfolio -->
