<section id="tips-and-tricks">
  <div class="container">
    <h3>Adding <s>blue</s> bold text</h3>
    <span [innerHtml]="blueTextSentence | blue"></span>
    <span><strong>{{ '{' }}</strong> and <strong>{{ '}' }}</strong></span>

    <h3>Separating paragraphs</h3>
    <span>Use the following text: <strong>{{ brTag }}</strong></span>
    <br />
    <br />
    <span>To separate paragraphs</span>

    <h3>Removing titles, subtitles, and paragraphs</h3>
    <span>You can remove text fields that you don't want</span>

    <h3>Setting your own icons</h3>
    <span>Go to <a href="https://fontawesome.com/search?o=r&m=free">https://fontawesome.com/search?o=r&m=free</a> and choose your own icons</span>
  </div>
</section>
