<div style="padding-top: 128px;">
  <div>
    <!--Form area-->
    <div>
      <!--Header-->
      <div style="text-align: center;">
        <h6 class="sub-title main-color">Welcome back</h6>
        <h2 class="title">Login as admin</h2>
      </div>
      <!--Form-->
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <!--Error message-->
        <p>
          <mat-error *ngIf="form.invalid && form.hasError('badLogin')">
            <!--TODO-->
            <strong>ERROR</strong>:
            Either the <i>username</i> or <i>password</i> was incorrect.
          </mat-error>
        </p>
        <!--Email-->
        <!--TODO browser save password prompt happens for cancel button and not submit button-->
        <div style="text-align: center; padding-top: 24px">
          <mat-form-field>
            <input matInput formControlName="email" required
                   type="email"
                   placeholder="Email:">
            <mat-error *ngIf="form.get('email')!.errors">
              Email is required
            </mat-error>
          </mat-form-field>
        </div>
        <!--Password-->
        <div style="text-align: center;">
          <mat-form-field>
            <mat-label>Password:</mat-label>
            <input matInput formControlName="password" required
                   type="password"
                   placeholder="Enter the password">
            <mat-error *ngIf="form.get('password')!.errors">
              Password is required
            </mat-error>
          </mat-form-field>
        </div>
        <!--Failed login message-->
        <!--TODO maybe improve the message styling-->
        <h6 class="sub-title" style="color: red; text-align: center; margin-bottom: 0px; margin-top: 18px;"
            *ngIf="failedLogin && !form.get('password')!.dirty">
          The email or password was incorrect
        </h6>
        <!--Submit/Cancel Buttons-->
        <div style="display: flex; align-items: center; justify-content: center; ">
          <button color="primary"
                  type="submit"
                  [disabled]="!form.valid"
                  class="contact_btn btn btn-large btn-rounded btn-blue d-block mt-4 btn-disabled">
            Login
          </button>
          <button color="secondary"
                  [routerLink]="['']"
                  class="contact_btn btn btn-large btn-rounded btn-white d-block mt-4">
            Cancel
          </button>
        </div>
      </form>
    </div>
    <div style="text-align: center; padding-top: 48px;">
      <a [routerLink]="['forgot-password']">Click here if you forgot your password</a>
    </div>
  </div>
</div>
