<div class="container" style="margin-top: 128px">
  <div class="row align-items-lg-center">
    <!--Form area-->
    <div class="col-lg-6 pr-lg-5">
      <!--Header-->
      <div class="heading-area">
        <h6 class="sub-title main-color">Welcome back</h6>
        <h2 class="title">Login as admin</h2>
      </div>
      <!--Form-->
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="contact-form">
        <!--Error message-->
        <p>
          <mat-error *ngIf="form.invalid && form.hasError('badLogin')">
            <!--TODO-->
            <strong>ERROR</strong>:
            Either the <i>username</i> or <i>password</i> was incorrect.
          </mat-error>
        </p>
        <!--Email-->
        <div class="col-lg-6">
          <mat-form-field class="form-group">
            <input matInput formControlName="email" required
                   type="email"
                   style="margin-bottom: 12px"
                   placeholder="Enter an email">
            <mat-error *ngIf="form.get('email')!.errors">
              Email is required
            </mat-error>
          </mat-form-field>
        </div>
        <!--Password-->
        <div class="col-lg-6">
          <mat-form-field>
            <mat-label>Password:</mat-label>
            <input matInput formControlName="password" required
                   type="password"
                   placeholder="Enter the password">
            <mat-error *ngIf="form.get('password')!.errors">
              Password is required
            </mat-error>
          </mat-form-field>
        </div>
        <!--Submit/Cancel Buttons-->
        <div class="row align-items-lg-center">
          <button color="primary"
                  type="submit"
                  [disabled]="!form.valid"
                  class="contact_btn btn btn-large btn-rounded btn-blue d-block mt-4">
            Login
          </button>
          <button color="secondary"
                  [routerLink]="['']"
                  class="contact_btn btn btn-large btn-rounded btn-white d-block mt-4">
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
