<!-- TODO Re-evaluate removing body attributes used for nav bar -->

<!--Header Start-->
<section id="home" class="home-banner">
  <!--<h2 class="adminComponentId">resume-header</h2>-->
  <div class="container">
    <div class="row align-items-lg-center">
      <div class="col-lg-7">
        <!-- Box Area -->
        <div class="heading-box">
          <h2 *ngIf="!isAdmin || !isEditingTitle"
              (click)="isEditingTitle = true;">
            Walker<span class="main-color">son</span> Hardin
          </h2>
          <mat-form-field *ngIf="isAdmin && isEditingTitle">
            <input matInput
                   (focusout) = "isEditingTitle = false;"
                   [(ngModel)]="title"
                   placeholder="title"/>
          </mat-form-field>
          <p>
            There are many variations of passages of Lorem Ipsum is at the available,
            but the majority have <span class="main-color">suffered</span> alteration some form,
            by injected humour randomised words at the available.
          </p>
          <button href="javascript:void(0);" class="btn-large btn-rounded btn-transparent-black mt-2 btn-flag american-flag">
          </button>
          <button href="javascript:void(0);" class="btn-large btn-rounded btn-transparent-black mt-2 btn-flag bosnian-flag">
          </button>
</div>
      </div>

      <div class="col-lg-5">
        <div class="slider-right">
          <img data-depth="0.05" src="/assets/resume/img/personal.jpg" alt="side-image" class="scene">
          <span data-depth="0.08" class="scene"></span>
        </div>
      </div>
    </div>
  </div>
  <!-- Shapes -->
  <span class="shape-square"></span>
  <span class="shape-triangle"></span>
  <span class="shape-plus"></span>
  <span class="shape-circle"></span>
</section>
<!--Header End-->
