<!-- TODO Re-evaluate removing body attributes used for nav bar -->

<!--Header Start-->
<section id="home" class="home-banner">
  <!--<h2 class="adminComponentId">resume-header</h2>-->
  <div class="container">
    <div class="row align-items-lg-center">
      <div class="col-lg-7">
        <div class="heading-box">
          <!-- Title -->
          <h2 *ngIf="!isAdmin || !title.isEditing"
              (click)="setIsEditingTrue(title)"
              [innerHtml]="title.value | blue">
          </h2>
          <mat-form-field *ngIf="isAdmin && title.isEditing">
            <input matInput autoFocus
                   (focusout)="saveChanges(title)"
                   [(ngModel)]="title.value"
                   placeholder="title"/>
          </mat-form-field>
          <!-- Description -->
          <p *ngIf="!isAdmin || !description.isEditing"
             (click)="setIsEditingTrue(description)"
             [innerHtml]="description.value | blue">
          </p>
          <mat-form-field *ngIf="isAdmin && description.isEditing" 
                          class="large-input">
            <textarea matInput autoFocus
                      cdkTextareaAutosize 
                      (focusout)="saveChanges(description)"
                      [(ngModel)]="description.value"
                      placeholder="description"></textarea>
          </mat-form-field>
          <!--Localization Buttons-->
          <button (click)="setLocalization('en')" class="btn-large btn-rounded btn-transparent-black mt-2 btn-flag american-flag">
          </button>
          <button (click)="setLocalization('bih')" class="btn-large btn-rounded btn-transparent-black mt-2 btn-flag bosnian-flag">
          </button>
        </div>
      </div>

      <div class="col-lg-5">
        <div class="slider-right">
          <img data-depth="0.05" src="/assets/resume/img/personal.jpg" alt="side-image" class="scene">
          <span data-depth="0.08" class="scene"></span>
        </div>
      </div>
    </div>
  </div>
  <!-- Shapes -->
  <span class="shape-square"></span>
  <span class="shape-triangle"></span>
  <span class="shape-plus"></span>
  <span class="shape-circle"></span>
</section>
<!--Header End-->
