<!--Header Start-->
<section id="home" class="home-banner">
  <!--<h2 class="adminComponentId">resume-header</h2>-->
  <div class="container container-25">
    <div class="row align-items-lg-center">
      <div class="col-lg-7">
        <div class="heading-box">
          <!-- Title -->
          <h2 *ngIf="!isAdmin || !title.isEditing"
              (click)="setIsEditingTrue(title)"
              [innerHtml]="title.text | blue">
          </h2>
          <mat-form-field *ngIf="isAdmin && title.isEditing"
                          class="small-input">
            <input matInput autoFocus
                   (focusout)="saveItemChanges(title)"
                   [(ngModel)]="title.text"
                   placeholder="title"/>
          </mat-form-field>
          <!-- Description -->
          <p *ngIf="!isAdmin || !description.isEditing"
             (click)="setIsEditingTrue(description)"
             [innerHtml]="description.text | blue">
          </p>
          <mat-form-field *ngIf="isAdmin && description.isEditing"
                          class="large-input">
            <textarea matInput autoFocus
                      cdkTextareaAutosize
                      (focusout)="saveItemChanges(description)"
                      [(ngModel)]="description.text"
                      placeholder="description"></textarea>
          </mat-form-field>
          <!--Localization Buttons-->
          <button (click)="setLocalization('en')" class="btn-large btn-rounded btn-transparent-black mt-2 btn-flag american-flag">
          </button>
          <button (click)="setLocalization('bih')" class="btn-large btn-rounded btn-transparent-black mt-2 btn-flag bosnian-flag">
          </button>
        </div>
      </div>
      <!-- Image -->
      <div *ngIf="!isAdmin || !image.isEditing"
            class="col-lg-5"
            (click)="setIsEditingTrue(image)">
        <a class="slider-right">
          <img data-depth="0.05" [src]="image.data" alt="side-image" class="scene">
          <span data-depth="0.08" class="scene"></span>
        </a>
      </div>
      <div *ngIf="isAdmin && image.isEditing"
           style="display: flex; flex-direction: column; margin: auto; margin-top: 32px;">
        <mat-checkbox #clearText
                      style="margin-bottom: 12px;">
          Upload Image as Cleartext
        </mat-checkbox>
        <input type="file"
               class="file-upload"
               (change)="saveAndUploadImage(image, $event, false, clearText.checked)">
      </div>
    </div>
  </div>
  <!-- Shapes -->
  <span class="shape-square"></span>
  <span class="shape-triangle"></span>
  <span class="shape-plus"></span>
  <span class="shape-circle"></span>
</section>
<!--Header End-->
