<!--Footer Start-->
<section id="footer">
  <div class="container">
    <div class="row align-items-center">
      <!--Social-->
      <div class="col-lg-6">
        <div class="footer-social text-lg-left">
          <ul class="list-unstyled">
            <li>
              <a class="wow fadeInUp" href="https://www.facebook.com/salonML/">
                <i aria-hidden="true"
                   class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li>
              <a class="wow fadeInUp" href="https://goo.gl/maps/2QVU5EVavp7rCb1r7">
                <i aria-hidden="true"
                   class="fab fa-google-plus-g"></i>
              </a>
            </li>
            <li>
              <a class="wow fadeInUp" href="https://www.instagram.com/hairsalon_ml/">
                <i aria-hidden="true"
                   class="fab fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!--Text-->
      <div class="col-lg-6 text-lg-right">
        <p class="company-about fadeIn">
          © 2022 ML
          <a *ngIf="!isAdmin"
             [routerLink]="['/login']">
            | Login
          </a>
          <a style="color: #535353; cursor: pointer;"
             *ngIf="isAdmin"
             (click)="seedData()">
            | Seed Data
          </a>
          <a *ngIf="isAdmin"
             href="/tips-and-tricks">
            | Tips and Tricks
          </a>
        </p>
      </div>
    </div>
  </div>
</section>
<!--Footer End-->
