<section id="reviews" style="background-color: #f8f9fa;">
  <div class="container">
    <owl-carousel-o [options]="customOptions" #owlCar>

      <ng-template *ngFor="let review of reviewArray; index as i;"
                   carouselSlide>
        <div *ngIf="!isAdmin || !review.isEditing"
             (click)="setIsEditingTrue(review)"
             class="slide">
          <img [src]="review.data">
          <h3 class="user-name"
              [innerHtml]="review.caption | blue"></h3>
          <img src="/assets/custom/5-stars.png" class="star-img" />
          <p [innerHtml]="review.text | blue">
          </p>
        </div>
        <div *ngIf="isAdmin && review.isEditing"
             class="slide">
          <input type="file"
                 class="file-upload"
                 (change)="saveAndUploadImage(review, $event)">
          <mat-form-field class="small-input">
            <input matInput
                   (focusout)="saveArrayChanges(reviewArray)"
                   [(ngModel)]="review.caption"
                   placeholder="reviewArray: {{i}} (caption)" />
          </mat-form-field>
          <mat-form-field class="large-input">
            <textarea matInput
                      cdkTextareaAutosize
                      (focusout)="saveArrayChanges(reviewArray)"
                      [(ngModel)]="review.text"
                      placeholder="reviewArray: {{i}} (text)"></textarea>
          </mat-form-field>
          <button (click)="deleteReview(review, i)">
            Delete This Review
          </button>
        </div>
      </ng-template>

    </owl-carousel-o>

    <div class="arrow-nav">
      <a class="btn btn-success" (click)="owlCar.prev()">
        <i class="fa-solid fa-arrow-left"></i>
      </a>
      <a class="btn btn-success" (click)="owlCar.next()">
        <i class="fa-solid fa-arrow-right"></i>
      </a>
    </div>

    <a class="review-footer"
       href="https://goo.gl/maps/YUcgrAFqhDDT7ArY8"
       style="cursor: pointer;">
      <div class="rating-box">
        <p class="footer-number">4.7</p>
        <img src="/assets/custom/4.5-stars.png" class="star-img" />
      </div>
      <img src="/assets/custom/google-logo.png" class="g-logo-img" />
      <p style="width: 130px; text-align: left;">121 Reviews</p>
    </a>

    <button *ngIf="isAdmin"
            (click)="addReview()">
      Add New Review
    </button>
  </div>
</section>
