<!-- Preloader -->
<div class="preloader">
  <div class="centrize full-width">
    <div class="vertical-center">
      <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div>
    </div>
  </div>
</div>
<!-- Preloader End -->
<!--Navbar Start-->
<header>
  <!--Navigation-->
  <nav class="navbar navbar-top-default navbar-expand-lg navbar-simple nav-line">
    <div class="container">
      <!--todo maybe scroll to top when Logo is clicked-->
      <a [routerLink]="['']" title="Logo" class="logo scroll">
        <!--Logo Default-->
        <img src="/assets/resume/img/logo.png" alt="logo" class="logo-dark">
      </a>

    </div>
  </nav>
</header>
<!--Navbar End-->

<router-outlet></router-outlet>

<!--
<table *ngIf="forecasts">
  <thead>
    <tr>
      <th>Date</th>
      <th>Temp. (C)</th>
      <th>Temp. (F)</th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.date }}</td>
      <td>{{ forecast.temperatureC }}</td>
      <td>{{ forecast.temperatureF }}</td>
      <td>{{ forecast.summary }}</td>
    </tr>
  </tbody>
</table>
 -->
