<!-- Preloader -->
<div class="preloader">
  <div class="centrize full-width">
    <div class="vertical-center">
      <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div>
    </div>
  </div>
</div>
<!-- Preloader End -->

<app-navbar></app-navbar>

<router-outlet></router-outlet>

<!--Scroll Top Start-->
<span class="scroll-top-arrow"
      style="background-color: #55ACEE !important; background-image: none;">
  <i class="fas fa-angle-up"></i>
</span>
<!--Scroll Top End-->

<!--
<table *ngIf="forecasts">
  <thead>
    <tr>
      <th>Date</th>
      <th>Temp. (C)</th>
      <th>Temp. (F)</th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.date }}</td>
      <td>{{ forecast.temperatureC }}</td>
      <td>{{ forecast.temperatureF }}</td>
      <td>{{ forecast.summary }}</td>
    </tr>
  </tbody>
</table>
 -->
