
<section id="info-cards" style="background-color: #f8f9fa;">
  <div class="container">
    <div class="row align-items-lg-center dot-box">

      <!-- Text Area-->
      <div class="col-lg-6 order-lg-2">
        <div class="heading-area pl-lg-4 p-0">
          <!-- Subtitle -->
          <h6 *ngIf="!isAdmin || !subtitle.isEditing"
              class="sub-title"
              (click)="setIsEditingTrue(subtitle)"
              [innerHtml]="subtitle.text | blue">
          </h6>
          <mat-form-field *ngIf="isAdmin && subtitle.isEditing"
                          class="small-input">
            <input matInput autoFocus
                   (focusout)="saveItemChanges(subtitle)"
                   [(ngModel)]="subtitle.text"
                   placeholder="subtitle" />
          </mat-form-field>
          <!-- Title -->
          <h2 *ngIf="!isAdmin || !title.isEditing"
              class="title"
              (click)="setIsEditingTrue(title)"
              [innerHtml]="title.text | blue">
          </h2>
          <mat-form-field *ngIf="isAdmin && title.isEditing"
                          class="small-input">
            <input matInput autoFocus
                   (focusout)="saveItemChanges(title)"
                   [(ngModel)]="title.text"
                   placeholder="title" />
          </mat-form-field>
          <!-- Description -->
          <p *ngIf="!isAdmin || !description.isEditing"
             class="paragraph"
             (click)="setIsEditingTrue(description)"
             [innerHtml]="description.text | blue">
          </p>
          <mat-form-field *ngIf="isAdmin && description.isEditing"
                          class="large-input">
            <textarea matInput autoFocus
                      cdkTextareaAutosize
                      (focusout)="saveItemChanges(description)"
                      [(ngModel)]="description.text"
                      placeholder="description"></textarea>
          </mat-form-field>
        </div>
      </div>

      <!-- Info Cards -->
      <div class="col-lg-6">
        <div class="row d-flex align-items-lg-center">
          <div class="col-lg-6 order-lg-2 p-lg-0">
            <!-- Feature Item -->
            <div class="feature-item">
              <i class="lni-bitbucket  f-icon"></i>
              <h5 class="title">Development</h5>
              <p>Simply dummy text of the print and typesetting industry lorem Ipsum has been standard.</p>
            </div>
            <!-- Feature Item -->
            <div class="feature-item">
              <i class="lni-cart-full f-icon"></i>
              <h5 class="title">App Design</h5>
              <p>Simply dummy text of the print and typesetting industry lorem Ipsum has been standard.</p>
            </div>
          </div>
          <div class="col-lg-6 p-lg-0">
            <!-- Feature Item -->
            <div class="feature-item">
              <i class="lni-graduation f-icon"></i>
              <h5 class="title">UI / UX Design</h5>
              <p>Simply dummy text of the print and typesetting industry lorem Ipsum has been standard.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
