
.small-input {
  width: 250px;
}

.large-input {
  width: 280px;
  display: block;
}

@media screen and (max-width: 992px) {
  .large-input {
    margin: auto;
  }
}

@media screen and (min-width: 450px) {
  .large-input {
    width: 400px;
  }
}

@media screen and (min-width: 1200px) {
  .large-input {
    width: 550px;
  }
}

.container-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.container-25 {
  padding-left: 25px;
  padding-right: 25px;
}

p {
  font-weight: 300;
}

section {
    background-color: white;
}

.slider-right span {
  background-color: #808080 !important;
}

.feature-item > i {
  background-color: #808080 !important;
}

.main-color {
  color: #808080 !important;
}

.swiper-button-next, .swiper-button-prev {
  color: #808080 !important;
}

.swiper-pagination-bullet-active {
  background-color: #808080 !important;
}

.shape-plus, .shape-plus:after {
  background-color: #808080 !important;
}

.shape-triangle {
  border-bottom-color: #808080 !important;
}

.shape-square {
  background-color: #808080 !important;
}

.shape-circle {
  border-color: #808080 !important;
}

.preloader .spinner div {
  background: #808080 !important;
}

.btn.btn-blue {
  background-color: #808080 !important;
  border-color: #808080 !important;
}

.btn.btn-blue:hover, .btn.btn-blue:focus {
  border-color: #808080 !important;
  color: #808080 !important;
}

.scroll-top-arrow {
  background-color: #808080 !important;
}
