
.small-input {
  width: 250px;
}

.large-input {
  width: 280px;
  display: block;
}

@media screen and (max-width: 992px) {
  .large-input {
    margin: auto;
  }
}

@media screen and (min-width: 450px) {
  .large-input {
    width: 400px;
  }
}

@media screen and (min-width: 1200px) {
  .large-input {
    width: 550px;
  }
}

.container-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.container-25 {
  padding-left: 25px;
  padding-right: 25px;
}
