<div style="padding-top: 128px;">
  <div>
    <!--Form area-->
    <div>
      <!--Header-->
      <div style="text-align: center;">
        <h6 class="sub-title main-color">{{subTitle}}</h6>
        <h2 class="title">{{title}}</h2>
      </div>
      <!--Form-->
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <!--Email-->
        <!--TODO browser save password prompt happens for cancel button and not submit button-->
        <div style="text-align: center; padding-top: 24px">
          <mat-form-field>
            <input matInput [formControlName]="firstFormControlName" required
                   [type]="firstFormControlName"
                   [placeholder]="firstPlaceholder">
            <mat-error *ngIf="form.get(firstFormControlName)!.errors">
              {{firstErrorMessage}}
          </mat-error>
          </mat-form-field>
        </div>
        <!--Password-->
        <div style="text-align: center;" *ngIf="secondFormControlName">
          <mat-form-field>
            <input matInput [formControlName]="secondFormControlName" required
                   [type]="secondFormControlName"
                   [placeholder]="secondPlaceholder">
            <mat-error *ngIf="form.get(secondFormControlName)!.errors">
              {{secondErrorMessage}}
            </mat-error>
          </mat-form-field>
        </div>
        <!--Failed login message-->
        <!--TODO maybe improve the message styling-->
        <h6 class="sub-title" style="color: red; text-align: center; margin-bottom: 0px; margin-top: 18px;"
            *ngIf="failedRequest && (!form.get(firstFormControlName)!.dirty || !form.get(secondFormControlName)?.dirty)">
          {{mainErrorMessage}}
        </h6>
        <!--Submit/Cancel Buttons-->
        <div style="display: flex; align-items: center; justify-content: center; ">
          <button color="primary"
                  type="submit"
                  [disabled]="!form.valid"
                  class="contact_btn btn btn-large btn-rounded btn-blue d-block mt-4 btn-disabled">
            {{primaryButtonText}}
          </button>
          <button color="secondary"
                  [routerLink]="['']"
                  class="contact_btn btn btn-large btn-rounded btn-white d-block mt-4">
            Cancel
          </button>
        </div>
      </form>
    </div>
    <div *ngIf="primaryButtonText == 'Login'"
         style="text-align: center; padding-top: 48px;">
      <a [routerLink]="['/forgot-password']">Click here if you forgot your password</a>
    </div>
  </div>
</div>
