<!--Contact Start-->
<section id="contact">
  <div class="container">
    <div class="row align-items-lg-center">
      <!--Form area-->
      <div class="pr-lg-5 left-side">
        <div class="heading-area">
          <h6 class="sub-title main-color">Have any Question ?</h6>
          <h2 class="title">Let's Get In Touch</h2>
        </div>
        <!--Contact Form-->
        <form class="contact-form" id="contact-form-data">
          <div id="result"></div>

          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <input class="form-control" type="text" placeholder="Name" required="" id="your_name" name="userName">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <input class="form-control" type="email" placeholder="Email" required="" id="your_email" name="userEmail">
              </div>
            </div>
          </div>

          <div class="form-group">
            <input class="form-control" type="text" placeholder="Subject" required="" id="your_subject" name="userSubject">
          </div>

          <div class="form-group">
            <textarea class="form-control" placeholder="Message" id="message" name="userMessage"></textarea>
          </div>

          <!--Button-->
          <a href="javascript:void(0);" id="submit_btn" class="contact_btn btn btn-large btn-rounded btn-blue d-block mt-4">Send Message</a>

        </form>

        <!-- Address -->
        <ul class="address-item">
          <!--item-->
          <li class="w-100 mb-4">
            <i class="lni-apartment main-color"></i>
            <div class="content">
              <!--Todo google maps link-->
              <h6 class="main-color m-0">Address</h6>
              <p>Dzemala Bijedica St 33, Sarajevo 71000, Bosnia & Herzegovina</p>
            </div>
          </li>
          <!--item-->
          <li class="pr-2">
            <i class="lni-comment-reply main-color"></i>
            <div class="content">
              <h6 class="main-color m-0">Email</h6>
              <p><a href="mailto:email@website.co">frizerml@gmail.com</a></p>
            </div>
          </li>
          <!--item-->
          <li class="phone-item">
            <i class="lni-phone-handset main-color"></i>
            <div class="content">
              <h6 class="main-color m-0">Phone</h6>
              <p><a href="tel:002343474383">002 343474383</a></p>
            </div>
          </li>
        </ul>
      </div>

      <!--map area-->
      <div class="right-side">
        <iframe class="google-map"
                width="550"
                height="450"
                frameborder="0" style="border:0"
                referrerpolicy="no-referrer-when-downgrade"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyASD712yRrRJIrLSqRDVRk0_Bb2MvCiqDs&zoom=14&q=Frizerski+Salon+ML"
                allowfullscreen>
        </iframe>
        <div class="address-item" style="text-align: center;">
          <h4 class="main-color">
            Radne Sati
          </h4>
          <div style="display: flex; flex-direction: row; justify-content: space-around;">
            <div style="text-align: left;">
              ponedjeljak<br>
              utorak<br>
              srijeda<br>
              četvrtak<br>
              petak<br>
              subota<br>
              nedjelja
            </div>
            <div style="text-align: right;">
              9:00-18:00<br>
              ZATVORENI<br>
              9:00-18:00<br>
              9:00-18:00<br>
              9:00-18:00<br>
              9:00-18:00<br>
              9:00-18:00
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
</section>
<!--Contact End-->
