<!--Contact Start-->
<section id="contact">
  <div class="container">
    <div class="row align-items-lg-center">
      <!-- Form and Info column-->
      <div class="pr-lg-5 left-side">
        <div class="heading-area">
          <!-- Subtitle Editable -->
          <h6 *ngIf="!isAdmin || !subtitle.isEditing"
              class="sub-title main-color"
              (click)="setIsEditingTrue(subtitle)"
              [innerHtml]="subtitle.text | blue">
          </h6>
          <mat-form-field *ngIf="isAdmin && subtitle.isEditing"
                          class="small-input">
            <input matInput autoFocus
                   (focusout)="saveItemChanges(subtitle)"
                   [(ngModel)]="subtitle.text"
                   placeholder="subtitle" />
          </mat-form-field>
          <!-- Title Editable -->
          <h2 *ngIf="!isAdmin || !title.isEditing"
              class="title"
              (click)="setIsEditingTrue(title)"
              [innerHtml]="title.text | blue">
          </h2>
          <mat-form-field *ngIf="isAdmin && title.isEditing"
                          class="small-input">
            <input matInput autoFocus
                   (focusout)="saveItemChanges(title)"
                   [(ngModel)]="title.text"
                   placeholder="title" />
          </mat-form-field>
        </div>
        <!--Form-->
        <form class="contact-form"
              [formGroup]="form"
              (ngSubmit)="onSubmit()">
          <div class="row">
            <!-- Form-name-field -->
            <div class="col-lg-6">
              <mat-form-field class="small-form-input">
                <input matInput
                       formControlName="name"
                       type="text"
                       [placeholder]="namePlaceholder.text">
                <mat-error *ngIf="form.get('name')!.errors">
                  Valid name field is required
                </mat-error>
              </mat-form-field>
            </div>
            <!-- Form-email-field -->
            <div class="col-lg-6">
              <mat-form-field class="small-form-input">
                <input matInput
                       formControlName="email"
                       type="email"
                       [placeholder]="emailPlaceholder.text">
                <mat-error *ngIf="form.get('email')!.errors">
                  Valid email field is required
                </mat-error>
              </mat-form-field>
            </div>
            <!-- Form-message-field -->
            <div class="col-lg-6 large-form-input">
              <mat-form-field class="large-form-input">
                <textarea matInput class="large-form-input"
                          cdkTextareaAutosize
                          formControlName="message"
                          type="text"
                          [placeholder]="messagePlaceholder.text"></textarea>
                <mat-error *ngIf="form.get('message')!.errors">
                  Valid message field is required
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <!-- Form-submit-button -->
          <button *ngIf="!isAdmin || !submitButton.isEditing"
                  color="primary"
                  type="submit"
                  [disabled]="!form.valid && !isAdmin"
                  style="width: 100%;"
                  class="contact_btn btn btn-large btn-rounded btn-blue d-block mt-4 btn-disabled">
            {{ submitButton.text }}
          </button>
        </form>
        <mat-form-field *ngIf="isAdmin && submitButton.isEditing"
                        class="small-input">
          <input matInput autoFocus
                 (focusout)="saveItemChanges(submitButton)"
                 [(ngModel)]="submitButton.text"
                 placeholder="submitButton" />
        </mat-form-field>

        <!-- Info Box -->
        <ul class="address-item">
          <li *ngFor="let item of infoBoxHeaderArray; index as i;"
              [ngClass]="{'w-100 mb-4':  i === 0,
                          'pr-2' :         i === 1,
                          'phone-item' :   i === 2 }">
            <!-- Icon -->
            <i *ngIf="!isAdmin || !infoBoxIconArray[i].isEditing"
               (click)="setIsEditingTrue(infoBoxIconArray[i])"
               class="main-color"
               [class]="infoBoxIconArray[i].iconValue">
            </i>
            <mat-form-field *ngIf="isAdmin && infoBoxIconArray[i].isEditing"
                            class="small-input">
              <input matInput autoFocus
                     (focusout)="saveArrayChanges(infoBoxIconArray)"
                     [(ngModel)]="infoBoxIconArray[i].iconValue"
                     placeholder="iconArray[{{ i }}]" />
            </mat-form-field>
            <div class="content">
              <!-- Header -->
              <h6 class="main-color m-0">
                {{ infoBoxHeaderArray[i].text }}
              </h6>
              <!-- Value -->
              <p>
                {{ infoBoxValueArray[i].text }}
              </p>
            </div>
          </li>
          <!--item
          <li class="w-100 mb-4">
            <i class="lni-apartment main-color"></i>
            <div class="content">
              <!--Todo google maps link
              <h6 class="main-color m-0">Address</h6>
              <p>Dzemala Bijedica St 33, Sarajevo 71000, Bosnia & Herzegovina</p>
            </div>
          </li>
          <!--item
          <li class="pr-2">
            <i class="lni-comment-reply main-color"></i>
            <div class="content">
              <h6 class="main-color m-0">Email</h6>
              <p><a href="mailto:email@website.co">frizerml@gmail.com</a></p>
            </div>
          </li>
          <!--item
          <li class="phone-item">
            <i class="lni-phone-handset main-color"></i>
            <div class="content">
              <h6 class="main-color m-0">Phone</h6>
              <p><a href="tel:002343474383">002 343474383</a></p>
            </div>
          </li>
            -->
        </ul>
      </div>

      <!--Map and Working Hours column-->
      <div class="right-side">
        <!-- Map -->
        <iframe class="google-map"
                width="550"
                height="450"
                frameborder="0" style="border:0"
                referrerpolicy="no-referrer-when-downgrade"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyASD712yRrRJIrLSqRDVRk0_Bb2MvCiqDs&zoom=14&q=Frizerski+Salon+ML"
                allowfullscreen>
        </iframe>
        <!-- Working hours -->
        <div class="address-item" style="text-align: center;">
          <h4 class="main-color">
            Radne Sati
          </h4>
          <div style="display: flex; flex-direction: row; justify-content: space-around;">
            <div style="text-align: left;">
              ponedjeljak<br>
              utorak<br>
              srijeda<br>
              četvrtak<br>
              petak<br>
              subota<br>
              nedjelja
            </div>
            <div style="text-align: right;">
              9:00-18:00<br>
              ZATVORENI<br>
              9:00-18:00<br>
              9:00-18:00<br>
              9:00-18:00<br>
              9:00-18:00<br>
              9:00-18:00
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
</section>
<!--Contact End-->
