<!--Contact Start-->
<section id="contact">
  <div class="container container-25">
    <div class="row align-items-lg-center">
      <!-- Form and Info column-->
      <div class="pr-lg-5 left-side">
        <div class="heading-area">
          <!-- Subtitle Editable -->
          <h6 *ngIf="!isAdmin || !subtitle.isEditing"
              class="sub-title"
              (click)="setIsEditingTrue(subtitle)"
              [innerHtml]="subtitle.text | blue">
          </h6>
          <mat-form-field *ngIf="isAdmin && subtitle.isEditing"
                          class="small-input">
            <input matInput autoFocus
                   (focusout)="saveItemChanges(subtitle)"
                   [(ngModel)]="subtitle.text"
                   placeholder="subtitle" />
          </mat-form-field>
          <!-- Title Editable -->
          <h2 *ngIf="!isAdmin || !title.isEditing"
              class="title"
              (click)="setIsEditingTrue(title)"
              [innerHtml]="title.text | blue">
          </h2>
          <mat-form-field *ngIf="isAdmin && title.isEditing"
                          class="small-input">
            <input matInput autoFocus
                   (focusout)="saveItemChanges(title)"
                   [(ngModel)]="title.text"
                   placeholder="title" />
          </mat-form-field>
        </div>
        <!--Form-->
        <form class="contact-form"
              [formGroup]="form"
              (ngSubmit)="onSubmit()">
          <div class="row">
            <!-- Form-name-field -->
            <div class="col-lg-6">
              <mat-form-field class="small-form-input">
                <input matInput
                       formControlName="name"
                       type="text"
                       [placeholder]="namePlaceholder.text">
                <mat-error *ngIf="form.get('name')!.errors">
                  Valid name field is required
                </mat-error>
              </mat-form-field>
            </div>
            <!-- Form-email-field -->
            <div class="col-lg-6">
              <mat-form-field class="small-form-input">
                <input matInput
                       formControlName="email"
                       type="email"
                       [placeholder]="emailPlaceholder.text">
                <mat-error *ngIf="form.get('email')!.errors">
                  Valid email field is required
                </mat-error>
              </mat-form-field>
            </div>
            <!-- Form-message-field -->
            <div class="col-lg-6 large-form-input">
              <mat-form-field class="large-form-input">
                <textarea matInput class="large-form-input"
                          cdkTextareaAutosize
                          formControlName="message"
                          type="text"
                          [placeholder]="messagePlaceholder.text"></textarea>
                <mat-error *ngIf="form.get('message')!.errors">
                  Valid message field is required
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <!-- Form-submit-button -->
          <button *ngIf="!isAdmin || !submitButton.isEditing"
                  color="primary"
                  type="submit"
                  [disabled]="!form.valid && !isAdmin"
                  style="width: 100%;"
                  class="contact_btn btn btn-large btn-rounded btn-blue d-block mt-4 btn-disabled">
            {{ submitButton.text }}
          </button>
        </form>
        <mat-form-field *ngIf="isAdmin && submitButton.isEditing"
                        class="small-input">
          <input matInput autoFocus
                 (focusout)="saveItemChanges(submitButton)"
                 [(ngModel)]="submitButton.text"
                 placeholder="submitButton" />
        </mat-form-field>

        <!-- Info Box -->
        <ul class="address-item">
          <li *ngFor="let item of infoBoxHeaderArray; index as i;"
              [ngClass]="{'w-100 mb-4':  i === 0,
                          'pr-2' :         i === 1,
                          'phone-item' :   i === 2 }">
            <!-- Icon -->
            <i *ngIf="!isAdmin || !infoBoxIconArray[i].isEditing"
               (click)="setIsEditingTrue(infoBoxIconArray[i])"
               class="main-color"
               [class]="infoBoxIconArray[i].iconValue">
            </i>
            <mat-form-field *ngIf="isAdmin && infoBoxIconArray[i].isEditing"
                            class="small-input">
              <input matInput autoFocus
                     (focusout)="saveArrayChanges(infoBoxIconArray)"
                     [(ngModel)]="infoBoxIconArray[i].iconValue"
                     placeholder="infoBoxIconArray: {{ i }}" />
            </mat-form-field>
            <div class="content">
              <!-- Header -->
              <h6 *ngIf="!isAdmin || !infoBoxHeaderArray[i].isEditing"
                  (click)="setIsEditingTrue(infoBoxHeaderArray[i])"
                  class="m-0"
                  [innerHtml]="infoBoxHeaderArray[i].text | blue">
              </h6>
              <mat-form-field *ngIf="isAdmin && infoBoxHeaderArray[i].isEditing"
                              class="small-input">
                <input matInput autoFocus
                       (focusout)="saveArrayChanges(infoBoxHeaderArray)"
                       [(ngModel)]="infoBoxHeaderArray[i].text"
                       placeholder="infoBoxHeaderArray: {{i}}" />
              </mat-form-field>
              <!-- Value -->
              <a *ngIf="!isAdmin || !infoBoxValueArray[i].isEditing"
                 [href]="getHref(i)"
                 (click)="setIsEditingTrue(infoBoxValueArray[i])"
                 [innerHtml]="infoBoxValueArray[i].text | blue">
              </a>
              <mat-form-field *ngIf="isAdmin && infoBoxValueArray[i].isEditing"
                              class="small-input">
                <input matInput autoFocus
                       (focusout)="saveArrayChanges(infoBoxValueArray)"
                       [(ngModel)]="infoBoxValueArray[i].text"
                       placeholder="infoBoxValueArray: {{i}}" />
              </mat-form-field>
            </div>
          </li>
        </ul>
      </div>

      <!--Map and Working Hours column-->
      <div class="right-side">
        <!-- Map -->
        <iframe class="google-map"
                width="550"
                height="450"
                frameborder="0" style="border:0"
                referrerpolicy="no-referrer-when-downgrade"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyASD712yRrRJIrLSqRDVRk0_Bb2MvCiqDs&zoom=14&q=Frizerski+Salon+ML"
                allowfullscreen>
        </iframe>
        <!-- Working hours -->
        <div class="address-item" style="text-align: center;">
          <!-- Header -->
          <h4 *ngIf="!isAdmin || !workingHoursHeader.isEditing"
              (click)="setIsEditingTrue(workingHoursHeader)"
              [innerHtml]="workingHoursHeader.text | blue">
          </h4>
          <mat-form-field *ngIf="isAdmin && workingHoursHeader.isEditing"
                          class="small-input">
            <input matInput autoFocus
                   (focusout)="saveItemChanges(workingHoursHeader)"
                   [(ngModel)]="workingHoursHeader.text"
                   placeholder="workingHoursHeader" />
          </mat-form-field>
          <div style="display: flex; flex-direction: row; justify-content: space-around;">
            <!-- Left Working Hours Column -->
            <ul style="display: flex; flex-direction: column; margin: 0px;">
              <li *ngFor="let item of workingHoursLeftColumnArray; index as i;">
                <p *ngIf="!isAdmin || !workingHoursLeftColumnArray[i].isEditing"
                   (click)="setIsEditingTrue(workingHoursLeftColumnArray[i])"
                   [innerHtml]="workingHoursLeftColumnArray[i].text | blue">
                </p>
                <mat-form-field *ngIf="isAdmin && workingHoursLeftColumnArray[i].isEditing"
                                class="small-input">
                  <input matInput autoFocus
                         (focusout)="saveArrayChanges(workingHoursLeftColumnArray)"
                         [(ngModel)]="workingHoursLeftColumnArray[i].text"
                         placeholder="workingHoursLeftColumnArray: {{i}}" />
                </mat-form-field>
              </li>
            </ul>
            <ul style="display: flex; flex-direction: column; margin: 0px !important;">
              <li *ngFor="let item of workingHoursRightColumnArray; index as i;">
                <p *ngIf="!isAdmin || !workingHoursRightColumnArray[i].isEditing"
                   (click)="setIsEditingTrue(workingHoursRightColumnArray[i])"
                   [innerHtml]="workingHoursRightColumnArray[i].text | blue">
                </p>
                <mat-form-field *ngIf="isAdmin && workingHoursRightColumnArray[i].isEditing"
                                class="small-input">
                  <input matInput autoFocus
                         (focusout)="saveArrayChanges(workingHoursRightColumnArray)"
                         [(ngModel)]="workingHoursRightColumnArray[i].text"
                         placeholder="workingHoursRightColumnArray: {{i}}" />
                </mat-form-field>
              </li>
            </ul>
          </div>
        </div>
      </div>
      </div>
    </div>
</section>
<!--Contact End-->
