.gallery-5 .items {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 0;
  padding: 6px !important;
  overflow: unset !important;
}

@media screen and (max-width: 576px) {
  .gallery-5 .items {
    padding: 3px !important;
  }
}

.gallery-5 .item-overlay .overlay-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery-5 .item-overlay a {
  height: 45px !important;
  width: 45px !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.gallery-5 .item-overlay {
  background: rgba(85, 172, 238, 0.80) !important;
}

.col-md-4 {
  max-width: 100%;
  padding: 0;
}

.col-md-4 {
  flex: 0 1 25% !important;
}
@media (max-width: 992px) {
  .col-md-4 {
    flex: 0 1 50% !important;
  }
}
