<!-- Gallery portfolio -->
<section id="gallery" class="portfolio-5">
  <div class="container container-10">
    <!-- gallery -->
    <div class="row gallery-5" id="gallery-5">
      <!-- gallery item -->
      <div class="col-md-4 items">
        <div class="item-img">
          <img alt="image" src="/assets/creative-parallax/img/project-item-01.jpg">
          <!--Item Overlay-->
          <div class="item-overlay">
            <div class="overlay-content">
              <h5>Lorem !Ipsum! (English)</h5>
              <a href="javascript:void(0);">
                <i class="fas fa-share"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>

  </div>
</section>
<!-- Ends Gallery portfolio -->
