<!-- Gallery portfolio -->
<section id="gallery" class="portfolio-5">
  <div class="container container-10">
    <!-- Subtitle -->
    <h6 *ngIf="!isAdmin || !subtitle.isEditing"
        class="sub-title"
        (click)="setIsEditingTrue(subtitle)"
        [innerHtml]="subtitle.text | blue">
    </h6>
    <mat-form-field *ngIf="isAdmin && subtitle.isEditing"
                    class="small-input">
      <input matInput autoFocus
             (focusout)="saveItemChanges(subtitle)"
             [(ngModel)]="subtitle.text"
             placeholder="subtitle" />
    </mat-form-field>
    <!-- Title -->
    <h2 *ngIf="!isAdmin || !title.isEditing"
        class="title"
        (click)="setIsEditingTrue(title)"
        [innerHtml]="title.text | blue">
    </h2>
    <mat-form-field *ngIf="isAdmin && title.isEditing"
                    class="small-input">
      <input matInput autoFocus
             (focusout)="saveItemChanges(title)"
             [(ngModel)]="title.text"
             placeholder="title" />
    </mat-form-field>
    <!-- gallery -->
    <div class="row gallery-5" id="gallery-5">
      <!-- gallery item column -->
      <div class="col-md-4"
           style="display: flex; flex-direction: column">
        <ng-container *ngFor="let image of imageArray; index as i;">
          <div *ngIf="i % 4 === 0"
               class="items">
            <ng-template *ngTemplateOutlet="ImageElement; context: {$implicit: image, key2: i}"></ng-template>
          </div>
        </ng-container>
      </div>
      <div class="col-md-4"
           style="display: flex; flex-direction: column">
        <ng-container *ngFor="let image of imageArray; index as i;">
          <div *ngIf="i % 4 === 1"
               class="items">
            <ng-template *ngTemplateOutlet="ImageElement; context: {$implicit: image, key2: i}"></ng-template>
          </div>
        </ng-container>
      </div>
      <div class="col-md-4"
           style="display: flex; flex-direction: column">
        <ng-container *ngFor="let image of imageArray; index as i;">
          <div *ngIf="i % 4 === 2"
               class="items">
            <ng-template *ngTemplateOutlet="ImageElement; context: {$implicit: image, key2: i}"></ng-template>
          </div>
        </ng-container>
      </div>
      <div class="col-md-4"
           style="display: flex; flex-direction: column">
        <ng-container *ngFor="let image of imageArray; index as i;">
          <div *ngIf="i % 4 === 3"
               class="items">
            <ng-template *ngTemplateOutlet="ImageElement; context: {$implicit: image, key2: i}"></ng-template>
          </div>
        </ng-container>
      </div>
      <button *ngIf="isAdmin"
              (click)="addImage()">
        Add Image
      </button>
    </div>
  </div>
  <div>

  </div>
</section>
<!-- Ends Gallery portfolio -->


<ng-template #ImageElement let-image let-i="key2">
  <div *ngIf="!isAdmin || !image.isEditing"
       (click)="setIsEditingTrue(image)"
       class="item-img">
    <img alt="image" [src]="image.data">
    <!--Item Overlay-->
    <div class="item-overlay">
      <div class="overlay-content">
        <h5>{{ image.caption }}</h5>
        <h5 *ngIf="isAdmin">
          Position - {{ i }}
        </h5>
        <a *ngIf="image.url"
           [href]="image.url">
          <i class="fa-2x fa-brands"
             [ngClass]="{'fa-facebook-f':  image.url.includes('facebook'),
                               'fa-instagram': image.url.includes('instagram')}">
          </i>
        </a>
      </div>
    </div>
  </div>
  <div *ngIf="isAdmin && image.isEditing"
       class="item-img"
       style="display: flex; flex-direction: column;">
    <mat-form-field>
      <input matInput
             style="width: 100%;"
             (focusout)="saveArrayChanges(imageArray)"
             [(ngModel)]="image.url"
             placeholder="image URL" />
    </mat-form-field>
    <mat-form-field>
      <input matInput
             style="width: 100%;"
             (focusout)="saveArrayChanges(imageArray)"
             [(ngModel)]="image.caption"
             placeholder="image Caption" />
    </mat-form-field>
    <mat-form-field>
      <input matInput
             style="width: 100%;"
             [value]="i"
             (focusout)="saveImagePosition(imageArray, i, $event)"
             placeholder="image Position" />
    </mat-form-field>
    <input type="file"
           style="width: 100%;"
           class="file-upload"
           (change)="saveAndUploadImage(image, $event, false)">
    <button (click)="deleteImageFromArray(i)">
      Delete image
    </button>
  </div>
</ng-template>
