/* Resume */
@import url('./app/shared/vendor/css/bundle.min.css');
@import url('./app/shared/vendor/css/LineIcons.min.css');
@import url('./app/shared/vendor/css/revolution-settings.min.css');
@import url('./app/shared/vendor/css/jquery.fancybox.min.css');
@import url('./app/shared/vendor/css/owl.carousel.min.css');
@import url('./app/shared/vendor/css/cubeportfolio.min.css');

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: white;
}
