
<section id="client">
  <div class="container">
    <div class="row d-flex align-content-lg-center min-height-100vh">

      <!-- Features Box-->
      <div class="col-lg-4 pr-lg-5 p-0">
        <div class="heading-area">
          <h6 class="sub-title main-color">What Client Says About us</h6>
          <h2 class="title">Our Clients & Reviews</h2>
          <p class="paragraph">There are many variations of passages of Lorem Ipsum available, but the majority.</p>
        </div>
        <div id="client-nav"></div>
      </div>

      <!-- Client Area-->
      <div class="col-lg-8">
        <div id="owl-client" class="owl-carousel owl-theme">
          <!--Items-->
          <div class="client-box">
            <i class="lni-quotation q-icon"></i>
            <p>There are many variations of passages of Lorem Ipsum availa  ble, but the majority There are many variations of passages of Lorem Ipsum availa  ble.</p>

            <div class="client-img">
              <img src="personal/img/avatar-1.png" alt="client">
            </div>
            <h5 class="client-name mb-0">Harley Klien</h5>
            <span class="client-designation">CEO, Abacus Inc</span>

          </div>
          <!--Items-->
          <div class="client-box">
            <i class="lni-quotation q-icon"></i>
            <p>There are many variations of passages of Lorem Ipsum availa  ble, but the majority There are many variations of passages of Lorem Ipsum availa  ble.</p>

            <div class="client-img">
              <img src="personal/img/avatar-2.png" alt="client">
            </div>
            <h5 class="client-name mb-0">David Jhon</h5>
            <span class="client-designation">Marketing Lead</span>

          </div>
          <!--Items-->
          <div class="client-box">
            <i class="lni-quotation q-icon"></i>
            <p>There are many variations of passages of Lorem Ipsum availa  ble, but the majority There are many variations of passages of Lorem Ipsum availa  ble.</p>

            <div class="client-img">
              <img src="personal/img/avatar-3.png" alt="client">
            </div>
            <h5 class="client-name mb-0">Jhon Walkin</h5>
            <span class="client-designation">General Manager</span>

          </div>
        </div>
      </div>

      <!--Partner Slider-->
      <div class="owl-carousel partners-slider">
        <div class="logo-item"> <img alt="client-logo" src="personal/img/client-1.png"></div>
        <div class="logo-item"> <img alt="client-logo" src="personal/img/client-2.png"></div>
        <div class="logo-item"> <img alt="client-logo" src="personal/img/client-3.png"></div>
        <div class="logo-item"> <img alt="client-logo" src="personal/img/client-4.png"></div>

      </div>

    </div>
  </div>
</section>
