section {
  background-color: #f8f9fa !important;
  background-image: none;
}

p {
  color: #535353 !important;
  font-size: 16px !important;
  font-weight: 300 !important;
  opacity: unset;
  cursor: text;
}

.user-name {
  color: #535353;
  background: none !important;
  -webkit-background-clip: unset !important;
  -webkit-text-fill-color: unset !important;
}

.slick-slider {
  -webkit-user-select: unset;
  user-select: unset;
  -webkit-touch-callout: unset;
  -khtml-user-select: unset;
}

.img-fill {
    user-select: none;
    transform: scale(0.75);
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.star-img {
  width: 100px;
  height: 19px;
  user-select: none;
}

.user-name {
    margin-bottom: 12px !important;
}

.g-logo-img {
  width: 35px;
  height: 35px;
  user-select: none;
  margin-left: 18px;
  margin-right: 18px;
}

.review-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-left: 350px;
  padding-right: 350px;
}

@media screen and (max-width: 1200px) {
  .review-footer {
    padding-left: 270px;
    padding-right: 270px;
  }
}

@media screen and (max-width: 992px) {
  .review-footer {
    padding-left: 150px;
    padding-right: 150px;
  }
}

@media screen and (max-width: 768px) {
  .review-footer {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 576px) {
  .review-footer {
    padding-left: 0;
    padding-right: 0;
  }
}

.footer-number {
  padding-top: 29px;
  margin-right: 6px;
}

.rating-box {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 450px) {
  .single-feedback {
    padding-top: 0 !important;
  }
}
